.form--title {
  font-size: 1.2rem;
  color: #0e989e;
  margin: 20px 0;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  border: solid 1px #0e989e;
  border-radius: 20px;
  box-sizing: border-box;
}
.input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: solid 1px #0e989e;
}

.item__input--content {
  height: 100px;
}

.form__item--emotion {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.form__item {
  width: 100%;
  display: flex;
}

.form__item.content {
  margin-top: 30px;
}

.item__label {
  font-size: 1rem;
  margin-right: 1rem;
  width: 50px;
}

.item--emotion__select {
  width: 100px;
}

.item__label.emotion {
  word-break: keep-all;
}

/** 일기 저장하기 버튼 */
.form__button--submit {
  margin: 30px auto 0;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #004c50;
  color: #fff;
  border-radius: 10px;
}

.form__button--submit:hover {
  cursor: pointer;
  background-color: #00979f;
  transition: background-color ease-in-out 0.2s;
}
