.diary-item-container {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  border-top: solid 1px #81afb2;
}

.button--delete {
  border: none;
  background-color: tomato;
  color: #fff;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

.button--delete:hover {
  cursor: pointer;
  background-color: rgb(247, 46, 11);
  transition: background-color ease-in-out 0.2s;
}
