.diary-list-container {
  max-width: 500px;
  margin: 50px auto 0;
  padding: 20px;
  background-color: rgba(210, 232, 227, 0.2);
  border-radius: 20px;
}

.heading {
  font-size: 1.2rem;
  color: #0e989e;
}

.container__diary-item {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}
